body{
    overflow-x:hidden;
}
/*-----------------Header------------------*/
header{
    display: flex;
    
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 90px;
}
.logo{
    background: url("assets/images/logo.svg");
    width:200px;
    height:50px;
    background-position:center ;
    background-repeat: no-repeat;
}
.menu-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-bottom-left-radius:2%; */
    border-top-left-radius: 100%;
    background-color: #FFF1DA;;
    height:90px;
    margin-left: 0px;
    padding-left: 0px;
}
.menu-items>li{
    list-style-type: none;
    width: 98.8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items>li:hover{
    border-radius: 5px;
border: 1px solid var(--1st, #212832);
}

/*----------------Banner Style----------------*/
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner>.left-banner{
    display: flex;
    flex-direction: column;
    width:35%;
    margin-left:45px;
}
.left-banner>.tagline{
    color: #DF6951;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 90px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.left-banner>.banner-header{
    color: var(--1st, #181E4B);
    font-family: Volkhov;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 89px; /* 105.952% */
    letter-spacing: -3.36px;
}
.left-banner>.banner-header>.header-span{
    border-bottom:6px solid #DF6951;
    border-radius:50%;
    width: auto;
    padding:6px;
    height: auto;
}
.left-banner>.banner-desc{
    color: #5E6282;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width:20%;
    margin-top: 0px;
    line-height: 30px; /* 187.5% */
    margin-bottom:0px;
}
.btn-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}
.btn-group>.find-btn{
    width: 170px;
    height: 60px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: var(--yellow, #F1A501);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
}
.btn-group>.play-btn{
    width: 220px;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: none;
    align-items: center;
    /* background: var(--yellow, #F1A501); */
}
.play-img{
    width:70px;
    height:60px;
    background: url("assets/images/play.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.right-banner{
    margin-top: 0px;
    position: relative;
}
.plane{
    background: url("assets/images/plane.svg");
    width: 137.294px;
    height: 130.232px;
    transform: rotate(-30.841deg);
    flex-shrink: 0;
    z-index:1;
    top:70px;
    left:120px;
    position: absolute;
}
.traveller{
    width: 700px;
    z-index: 0;
    top:0;
    height: 740px;
    flex-shrink: 0;
    background: url("assets/images/Traveller.png");
    position:absolute;
}

/*------------Category---------------*/
.category{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: auto;
    margin-top: 90px;
    padding:50px;
    height:700px;
}
.category>.category-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.category-subtitle{
    color: var(--TEXT-CLR, #5E6282);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.category-title{
    color: var(--3rd, #14183E);
    text-align: center;
    margin-top:0px;
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.category-signs{
    text-align: right;
    letter-spacing:9px;
    /* line-height: 22px; */
    color: var(--3rd, #E5E5E5);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.category-signs>.category-orange-span{
    color: #DF6951;
    font-weight: bold;
}
.category-signs>.category-gray-span{
    color: gray;
    font-weight: bold;
}
.category-cards{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.category-cards>.card{
    width: 267px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card>.card-desc{
    width:80%;
    height: auto;
}
#card1>.card-icon{
    background: url("assets/images/weather.svg");
    width:90px;
    height:90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#card2{
    flex-shrink: 0;
    position: relative;
    border-radius: 36px;
    z-index:0;
    background: var(--white, #FFF);
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
#card2>.underlay{
    position: absolute;
    width: 80px;
    z-index:-3;
    height: 80px;
    bottom: -45px;
    left: -30px;
    border-radius: 30px 0px 10px 0px;
    background: #df6951;
}

/* #card2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: -60px;
    left: -30px;
    border-radius: 30px 0px 10px 0px;
    background: #df6951;
  } */
#card2>.card-icon{
    background: url("assets/images/flight.svg");
    width: 166.874px;
    height: 133.332px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0px;
}
#card3>.card-icon{
    background: url("assets/images/mic.png");
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0px;
}
#card4>.card-icon{
    background: url("assets/images/setting.svg");
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0px;
}
.destination{
    display: flex;
    flex-direction: column;
    width:auto;
    height:600px;
    align-items: center;
}
.destination-subtitle{
    color: var(--TEXT-CLR, #5E6282);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.destination-title{
    color: var(--3rd, #14183E);
    text-align: center;
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0px;
}
.destination-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.destination-items > .item {
    width: 260px;
    height: 380px;
    /* background-color: antiquewhite; */
    margin: 9px;
    padding: 0px;
}

#item{
    background: url("assets/images/Rectangle.png");
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position:unset;
    background-repeat: no-repeat;
    margin: 0px;
}
#item2 {
    background: url("assets/images/Rectangle2.jpg");
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position:unset;
    background-repeat: no-repeat;
    margin: 0px;
}
#item3{
    background: url("assets/images/Rectangle3.png");
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position:unset;
    background-repeat: no-repeat;
    margin: 0px;
}

.item>.item-desc{
    width:70%;
    display: flex;
    margin-left: 14%;
    flex-direction: column;
    height:130px;
    margin-top: 0px;
}
.item-desc>.upper-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-desc>.lower-desc{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    /* justify-content: space-between; */
}

/*--------------------Booking-------*/
.booking{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:90px;
    width:100vw;
    height:500px;
}
.booking>.left-booking{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:35%;

}
.booking-subtitle{
    color: var(--TEXT-CLR, #5E6282);
    text-align: left;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
    line-height: normal;
}
.booking-title{
    color: var(--3rd, #14183E);
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    text-transform: capitalize;
}

.choose-dest{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.choose-dest>.dest-icon{
    background: url("assets/images/dest.svg");
    width:45px;
    height:45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.dest-detl{
    display: flex;
    flex-direction: column;
    margin-left:18px;
}
.dest-detl>.dest-detl-title{
    margin:0px;
}
.dest-detl>p{
    margin:0px;
}

.airport{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.airport>.airport-icon{
    background: url("assets/images/airport.svg");
    width:45px;
    height:45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.airport-detl{
    display: flex;
    flex-direction: column;
    margin-left:18px;}
.airport-detl>.airport-detl-title{
    margin:0px;
}
.airport-detl>p{
    margin:0px;
}

.payment{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.payment>.payment-icon{
    background: url("assets/images/payment.svg");
    width:45px;
    height:45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.payment-detl{
    display: flex;
    flex-direction: column;
    margin-left:18px;}
.payment-detl>.payment-detl-title{
    margin:0px;
}
.payment-detl>p{
    margin:0px;
}
.right-booking{
    width:25%;
    height:490px;
    background-color: #212832;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    background: var(--white, #FFF);
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.right-booking>.booking-img{
    background: url("assets/images/booking.jpg");
    width: 300px;
    height:250px;
    border-radius:9px;
    margin: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.booking-card-header{
    margin-left: 20px;
    margin-top: 0px;
}
.booking-detl>p{
    margin-left: 20px;
}
.booking-card-icon{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left:20px;
    
}
.leaf-icon{
    background:url("assets/images/leaf.svg");
    width: 36px;
    height: 36px;
    background-color:var(--circle, #f8f1f1);
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;
}
.map-icon{
    background:url("assets/images/map.svg");
    width: 36px;
    height: 36px;
    background-color:var(--circle, #f8f1f1);
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;
}
.send-icon{
    background:url("assets/images/send.svg");
    width: 36px;
    height: 36px;
    background-color:var(--circle, #f8f1f1);
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 50%;
}
.people-count{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left:20px;
    align-items: center;
}
.count{
    padding-left: 9px;
}
.heart{
    background: url("assets/images/heart.svg");
    width:20px;
    height:20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.testimonial{
    display: flex;
    height:500px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.left-testimonial{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.testimonial-subtitle{
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.testimonial-titles{
    color: var(--3rd, #14183E);
    font-family: Volkhov;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    text-transform: capitalize;
}
.disc{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin-top: 90px;
    color: #E5E5E5;
}
.disc>li{
    width:50px;
    height:50px;
    padding:5px;
}
.first-disc{
    color: #39425D;
}
.right-testimonial{
    width:30%;
}
.testimonial-0{
    width:300px;
    position: relative;
    height:170px;
    padding:20px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.testimonial-img{
    background: url("assets/images/Image.svg");
    width:90px;
    height:90px;
    position: absolute;
    top: -20px;
    left:-75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.companies{
    width:auto;
    height:250px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.comp{
    background: url("assets/images/image\ 27.png");
    width:80px;
    height:80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.comp2{
    background: url("assets/images/image\ 28.png");
    width:80px;
    height:80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.comp3{
    background: url("assets/images/image\ 29.png");
    width:80px;
    height:80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.comp4{
    background: url("assets/images/image\ 30.png");
    width:80px;
    height:80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.comp5{
    background: url("assets/images/image\ 31.png");
    width:80px;
    height:80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*--------------NewsLetter-------------------*/

.newsletter{
    height:300px;
    position: relative;
    display: flex;
    width:900px;
    margin:9px auto;
    flex-direction:column;
    justify-content:center;
    border-radius: 129px 20px 20px 20px;
    
    background: var(--light-color, #DFD7F9);
}

.telegram-icon{
    background:url("assets/images/telegram.svg");
    width:70px;
    height:70px;
    position: absolute;
    top:-30px;
    right:-35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.newsletter-title{
    color: var(--TEXT-CLR, #191e4b);
    text-align: center;
    font-family: Poppins;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 163.636% */
    margin:20px 99px;
}
.input-grp{
    margin:9px 90px;
    width:690px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
input[type="text"]{
    width: 321px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    background: var(--white, #FFF);
    }
button[type="submit"]{
    width: 180px;
    height: 38px;
    border: none;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
}
.testimonial-signs{
    position: absolute;
    text-align: right;
    letter-spacing:9px;
    /* line-height: 22px; */
    color: var(--3rd, #E5E5E5);
    font-family: Roboto;
    font-size: 22px;
    bottom:-100px;
    right:-65px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.testimonial-signs>.testimonial-orange-span{
    color: #DF6951;
    font-weight: bold;
}
.testimonial-signs>.testimonial-gray-span{
    color: gray;
    font-weight: bold;
}
/*-----------------Footer----------*/
footer{
    display: flex;
    height:250px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 200px;
}
.upper-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo{
    width:20%;
}
.footer-title{
    color: var(--1st, #181E4B);
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}
p{
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 22.41px */
}
h4{
    color: var(--black, #080809);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%; /* 26.145px */
}

.rights{
    align-items: center;
    text-align: center;
    color: var(--TEXT-CLR, #5E6282);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 124.5%; /* 17.43px */
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.facebook{
    width:40px;
    height:40px;
    background: url("assets/images/Social.svg");
}
.X{
    width:40px;
    height:40px;
    background: url("assets/images/Social\ \(1\).svg");
}
.appstore{
    background: url("assets/images/Play\ Store.svg");
    width:120px;
    height:39px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}